<%- include("./partials/header.ejs") %>
<main>
    <% if(blogs.length>0){
            blogs.array.forEach(blog => { %>
    <div class="blog">
        <h2><%= blog.title %></h2>
        <p><%= blog.snippet %></p>
    </div>
    <% });
        } else { %>
    <p>No blogs to display</p>
    <% } %>

</main>
<%- include("./partials/footer.ejs") %>